<div class="footer" id="footer" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col">
                <div class="block contact-block">
                    <!-- replace with company contact details-->
                    <h3><a href="/home/contact">Contact Us</a></h3>
                    <address>
                        <ul class="fa-ul">
                            <li>
                                <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                                +44 (0)1302 8092344
                            </li>
                            <li>
                                <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                                info@inmypond.com
                            </li>
                            <li>
                                <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                                Pond House, Doncaster, DN5 8BN.
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
            <div class="col-md-5 col">
                <div class="block">
                    <h3><a href="/home/about">About Us</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. <b>Lorem</b> Praesent libero. Sed nisi. Praesent mauris. <b>nibh</b> Fusce nec tellus sed augue semper porta. Mauri.</p>
                </div>
            </div>
            <div class="col-md-4 col">
                <div class="block newsletter">
                    <h3>
                        Newsletter
                    </h3>
                    <p>Stay up to date with our latest news by signing up to our newsletter.</p>
                    <!--: replace with mailchimp code-->
                    <form role="form">
                        <div class="input-group input-group-sm">
                            <label class="sr-only" for="email-field">Email</label>
                            <input type="text" class="form-control" id="email-field" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="toplink">
                <a href="#top" class="top-link" title="Back to top">Back To Top <i class="fa fa-chevron-up"></i></a>
            </div>
            <!--: replace with company copyright details-->
            <div class="subfooter">
                <div class="col-md-6">
                    <p>Copyright 2015 &copy; InMyPond.com</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline footer-menu">
                        <li><a href="#">Terms</a></li>
                        <li><a href="/home/pricing">Privacy</a></li>
                        <li><a href="/home/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
