<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

            <!-- Responsive Navbar toggle -->
            <span>
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <img id="brand-logo" src="~/Images/branding/pond-logo-blue-sml.png" alt="In My Pond Logo" />
            </span>
        </div>

        @Html.Partial("_LoginPartial")

    </nav>
</div>
